body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-bottom: 1rem;
  text-align: center;
}

header > h1, header > p {
  margin: 0;
}

button:disabled {
  opacity: .45;
}

#inputYear {
  width: 3rem;
  text-align: center;
}

#mainNav {
  display: flex;
  min-width: 20vw;
  justify-content: space-between;
  margin: .5rem;
}

.wrapper {
  width: fit-content;
  border: 1px solid #ddd;
}

.wrapper .week {
  width: fit-content;
}

.box {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #ccc;
  width: 7vw;
  height: 7vw;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.box.sunday {
  color: red;
}

.box.friday {
  color: green;
}

.box.off {
  background: #ccc;
  opacity: .34;
}

.box > .hijri {
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.box > .gregorian {
  font-size: 3rem;
}

.label-days {
  display: flex;
}

.label-days .box {
  border: 1px solid transparent;
  align-content: center;
  height: 3vw;
}
